function Memory.init 0
push constant 2048
pop static 0
push static 0
push constant 0
add
push constant 14336
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push constant 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 1
push constant 0
pop local 0
push local 0
push argument 0
add
pop pointer 1
push that 0
return
function Memory.poke 1
push constant 0
pop local 0
push local 0
push argument 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 0
pop local 0
push local 0
push constant 0
add
pop pointer 1
push that 0
pop local 1
label Memory.alloc.while_1.L1
push local 1
push argument 0
push constant 3
add
lt
not
if-goto Memory.alloc.while_1.L2
push local 0
push constant 1
add
pop pointer 1
push that 0
pop local 0
push local 0
push constant 0
eq
not
if-goto Memory.alloc.while_1.if_1.L1
push constant 6
call Sys.error 1
pop temp 0
push constant 0
return
goto Memory.alloc.while_1.if_1.L2
label Memory.alloc.while_1.if_1.L1
label Memory.alloc.while_1.if_1.L2
push local 0
push constant 0
add
pop pointer 1
push that 0
pop local 1
goto Memory.alloc.while_1.L1
label Memory.alloc.while_1.L2
push local 0
push local 1
add
push argument 0
sub
pop local 2
push local 0
push constant 0
add
push local 1
push argument 0
sub
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
neg
add
push argument 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
return
function Memory.deAlloc 1
push argument 0
push constant 1
sub
pop local 0
push local 0
push constant 0
add
push argument 0
push constant 1
neg
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
push static 0
push constant 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push constant 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
call Memory.defrag 0
pop temp 0
push constant 0
return
function Memory.defrag 0
push constant 0
return
